body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav a {
  text-align: center;
  padding: 0 10px;
  background-color: #FFC9C9;
  
}

figcaption {
  text-align: center;
  font-size: 10px;
}

#featured-property p {
  
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

#details div {
  display: block;
  float: left;
  background-color: #FFC9C9;
  text-align: center;
  width: 25%;
}
